In [1]:
import nnm_data_processing
import warnings
warnings.filterwarnings("ignore")

In [2]:
complete_file_path = 'ExampleData/Sample/'
missing_file_path = 'ExampleData/Sample/Missing/'
output = 'prac/'

In [3]:
[coord_total, miss_feat] = nnm_data_processing.data_processing(complete_file_path)

In [4]:
coord_total

,X,Y,Z,b values,X pre,Y pre,Z pre,X post,Y post,Z post
0,-6.979000,18.327000,-9.874000,12.30,-7.386000,16.922001,-10.019,-35.630001,26.058001,1.719000
1,-7.386000,16.922001,-10.019000,11.16,-8.414000,16.778999,-11.126,-6.979000,18.327000,-9.874000
2,-8.414000,16.778999,-11.126000,10.47,-9.283000,17.635000,-11.279,-7.386000,16.922001,-10.019000
3,-9.283000,17.635000,-11.279000,12.16,-7.976000,16.409000,-8.727,-8.414000,16.778999,-11.126000
4,-7.976000,16.409000,-8.727000,13.92,-8.344000,15.692000,-11.883,-9.283000,17.635000,-11.279000
...,...,...,...,...,...,...,...,...,...,...
1980,-30.002001,0.867000,-19.101999,38.45,-32.782001,28.641001,3.657,-24.655001,-0.955000,-18.877001
1981,-32.782001,28.641001,3.657000,28.79,-26.850000,31.601999,5.494,-30.002001,0.867000,-19.101999
1982,-26.850000,31.601999,5.494000,39.55,-30.242001,28.785000,4.787,-32.782001,28.641001,3.657000
1983,-30.242001,28.785000,4.787000,26.11,-35.630001,26.058001,1.719,-26.850000,31.601999,5.494000
1984,-35.630001,26.058001,1.719000,33.84,-6.979000,18.327000,-9.874,-30.242001,28.785000,4.787000

In [5]:
miss_feat

     res name chain ssseq
2x82       []    []    []
5uez       []    []    []
1ufo       []    []    []
4wji       []    []    []
7fdr       []    []    []
4msw       []    []    []
2qqt       []    []    []
2hi2       []    []    []
1gzc       []    []    []
4bal       []    []    []

In [6]:
[coord_total_missing, miss_feat_missing] = nnm_data_processing.data_processing(missing_file_path)

In [7]:
coord_total_missing

,X,Y,Z,b values,X pre,Y pre,Z pre,X post,Y post,Z post
0,-10.339000,29.731001,8.278,44.88,-9.873000,28.409000,8.671,20.098000,14.114000,17.327
1,-9.873000,28.409000,8.671,46.03,-9.445000,27.496000,7.525,-10.339000,29.731001,8.278
2,-9.445000,27.496000,7.525,45.74,-9.909000,27.643000,6.392,-9.873000,28.409000,8.671
3,-9.909000,27.643000,6.392,47.43,-8.552000,26.551001,7.810,-9.445000,27.496000,7.525
4,-8.552000,26.551001,7.810,42.32,-8.068000,25.658001,6.760,-9.909000,27.643000,6.392
...,...,...,...,...,...,...,...,...,...,...
6127,13.402000,10.292000,6.928,30.13,13.756000,13.829000,6.773,23.382999,17.660000,21.139
6128,13.756000,13.829000,6.773,26.20,21.021000,14.787000,8.028,13.402000,10.292000,6.928
6129,21.021000,14.787000,8.028,45.21,21.065001,20.415001,3.414,13.756000,13.829000,6.773
6130,21.065001,20.415001,3.414,41.18,20.098000,14.114000,17.327,21.021000,14.787000,8.028
6131,20.098000,14.114000,17.327,45.01,-10.339000,29.731001,8.278,21.065001,20.415001,3.414

In [8]:
miss_feat_missing

,res name,chain,ssseq
2y39,"[SER, HIS, ARG, ASN, GLU, ALA, GLY, HIS]","[A, A, A, A, A, A, A, A]","[31, 32, 33, 34, 35, 36, 37, 38]"
2o73,"[MET, LEU, SER, ASP, ILE, GLN, THR, LYS, LEU, ...","[A, A, A, A, A, A, A, A, A, B, B, B, B, B, B, ...","[1, 167, 168, 169, 170, 171, 172, 173, 174, 1,..."
3qun,"[GLY, HIS, GLY, ALA, ILE, ARG, ASP, HIS, ASP, ...","[A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, ...","[57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 6..."
1gey,"[MET, SER, THR, VAL, THR, PRO, TYR, GLN, SER, ...","[A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, ...","[1, 2, 3, 4, 18, 19, 20, 21, 22, 25, 26, 27, 2..."
2jfk,"[MET, HIS, HIS, HIS, HIS, HIS, HIS, SER, SER, ...","[A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, ...","[399, 400, 401, 402, 403, 404, 405, 406, 407, ..."
3gem,"[HIS, MSE, THR, LEU, SER, GLN, PRO, LYS, ASP, ...","[A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, ...","[0, 1, 2, 3, 4, 183, 184, 185, 186, 187, 188, ..."
3d5m,"[GLU, LYS, GLY, SER, LEU, SER, ARG, ALA, ARG, ...","[A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, ...","[150, 151, 152, 563, 564, 565, 566, 567, 568, ..."
2z91,"[SER, ALA, ALA, GLN, THR, ASN, ARG, ASP, CYS, ...","[A, A, A, A, A, A, A, A, A, A, A, B, B, C, C, ...","[128, 129, 130, 131, 132, 133, 213, 214, 215, ..."
4y79,"[ARG, GLY, LEU, PRO, LYS, ALA, LYS, SER, HIS, ...","[A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, ...","[245, 246, 247, 248, 249, 250, 251, 252, 253, ..."
3ueo,"[GLY, PRO, LEU, GLY, SER, GLU, GLU, SER, LEU, ...","[A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, ...","[544, 545, 546, 547, 548, 549, 550, 584, 585, ..."

In [9]:
nnm_data_processing.save_to_csv(complete_file_path, output)

In [10]:
nnm_data_processing.num_atoms_of_seq()

              number of sequence
residue name
GLY                            4
ALA                            5
VAL                            7
LEU                            8
ILE                            8
PHE                           11
TRP                           14
TYR                           12
ASP                            8
HIS                           10
ASN                            8
GLU                            9
LYS                            9
GLN                            9
MET                            8
ARG                           11
SER                            6
THR                            7
CYS                            6
PRO                            7

In [11]:
num_seq_miss = nnm_data_processing.num_miss_atoms(missing_file_path)

In [12]:
num_seq_miss

[[6, 10, 11, 8, 9, 5, 4, 10],
 [8,
  8,
  6,
  8,
  8,
  9,
  7,
  9,
  8,
  8,
  7,
  8,
  6,
  8,
  8,
  9,
  7,
  9,
  8,
  6,
  8,
  8,
  9,
  7,
  9,
  8,
  8,
  7,
  8,
  6,
  8,
  8,
  9,
  7,
  9,
  8,
  8,
  7,
  8,
  6,
  8,
  8,
  9,
  7,
  9,
  8,
  8,
  8,
  9,
  7,
  9,
  8],
 [4,
  10,
  4,
  5,
  8,
  11,
  8,
  10,
  8,
  6,
  7,
  10,
  5,
  4,
  5,
  4,
  4,
  6,
  6,
  9,
  14,
  8,
  5,
  7,
  7,
  5,
  6,
  5],
 [8, 6, 7, 7, 7, 7, 12, 9, 6, 11, 8, 4, 4, 8, 4, 8, 11, 5, 9, 9, 7],
 [8,
  10,
  10,
  10,
  10,
  10,
  10,
  6,
  6,
  4,
  7,
  8,
  8,
  4,
  7,
  9,
  8,
  8,
  12,
  11,
  9,
  11,
  7,
  5,
  7,
  11,
  4,
  7,
  7,
  8,
  8,
  6,
  8,
  10,
  10,
  10,
  10,
  10,
  10,
  6,
  6,
  4,
  7,
  8,
  8,
  4,
  7,
  9,
  8,
  8,
  12,
  11,
  5,
  7,
  11,
  4,
  7,
  7,
  8,
  8,
  6,
  8,
  10,
  10,
  10,
  10,
  10,
  10,
  6,
  6,
  4,
  7,
  8,
  8,
  4,
  7,
  9,
  8,
  8,
  12,
  11,
  7,
  11,
  4,
  7,
  7,
  8,
  8,
  6,
  8,
  10,
  10,
  10,
  10,
  10,
  10,
  6,
  6,
  4,
  7,
  8,
  11,
  7,
  5,
  7,
  11,
  4,
  7,
  7,
  8,
  8,
  6],
 [10,
  14,
  7,
  8,
  6,
  9,
  7,
  9,
  8,
  8,
  5,
  5,
  12,
  11,
  5,
  8,
  5,
  8,
  5,
  9,
  4,
  6,
  10,
  14,
  7,
  11,
  9,
  7,
  9,
  8,
  8,
  5,
  5,
  12,
  11,
  5,
  8,
  5,
  4,
  6,
  10,
  14,
  7,
  8,
  6,
  8,
  14,
  11,
  9,
  7,
  9,
  8,
  8,
  4,
  6,
  10,
  14,
  7,
  8,
  6,
  9,
  8,
  8,
  5,
  5,
  12,
  11,
  5,
  8,
  5,
  8,
  5,
  9,
  6,
  5,
  8,
  4,
  8,
  4,
  6],
 [9,
  9,
  4,
  6,
  8,
  6,
  11,
  5,
  11,
  7,
  11,
  8,
  9,
  10,
  10,
  10,
  10,
  10,
  10,
  7,
  9,
  9,
  4,
  4,
  6,
  8,
  6,
  11,
  5,
  11,
  7,
  11,
  8,
  9,
  10,
  10,
  10,
  10,
  10,
  10],
 [6,
  5,
  5,
  9,
  7,
  8,
  11,
  8,
  6,
  7,
  6,
  9,
  6,
  6,
  5,
  5,
  9,
  7,
  8,
  6,
  6,
  6,
  7,
  11,
  8,
  6,
  7,
  6,
  6,
  9,
  7,
  6,
  6],
 [11, 4, 8, 7, 9, 5, 9, 6, 10, 5, 7, 9, 7, 8, 7, 6, 6, 7, 8, 9, 11],
 [4,
  7,
  8,
  4,
  6,
  9,
  9,
  6,
  8,
  8,
  6,
  11,
  7,
  9,
  9,
  9,
  11,
  4,
  7,
  8,
  4,
  6,
  9,
  9,
  6,
  8,
  8,
  6,
  11,
  7,
  9,
  9,
  9,
  11,
  4,
  7,
  8,
  4,
  6,
  9,
  9,
  6,
  8,
  8,
  6,
  11,
  7,
  9,
  9,
  9,
  11,
  4,
  7,
  8,
  4,
  6,
  9,
  9,
  6,
  8,
  8,
  6,
  11,
  7,
  9,
  9,
  9,
  11,
  4,
  9,
  4,
  11,
  8,
  9]]